@import 'variables';

/* Styling for reusable elements */

.btn {
  color: $darkColor;
  font-size: 1.1rem;
  background-color: $lightColor;
  padding: 0.75rem 1rem;
  &Primary {
    transition: background-color 0.33s ease-in-out;
    &:hover {
      background-color: $primaryColor;
    }
  }
}


.underline {
  background-color: $primaryColor;
  width: 50px;
  height: 3px;
  margin: auto;
}

.grid4x {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Boxes */

.box {

  margin: 3rem 0;
  text-align: center;
  
  &Primary i {
    color: $primaryColor;
  }

  &Medium {
    background-color: $mediumColor;
    font-size: 2rem;
    padding: 2rem;
  }

  &Light {
    background-color: $lightColor;
    font-size: 2rem;
    padding: 2rem;
  }

  &Secondary {

    .icon {
    margin: auto;
    width: 140px;
    height: 140px;
    background-color: $darkColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.8s ease-in-out;
    
    i {
      color: #fff;
    }
    &:hover {
      width: 150px;
      height: 150px;
      background-color: $primaryColor;

      .iconCorner {
        background-color: $darkColor;
      }
    }
    & .iconCorner {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 28px;
      height: 50px;
      width: 50px;
      background-color: $primaryColor;
      border-radius: 50%;
      transition: all 0.8s ease-in-out;
      }

      p {
        color: $lightColor;
        font-size: 28px;
        padding: 6px 0;
      }
    }
  }
}

/* Mixins */

@mixin grid4x {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@mixin grid3x {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
